@use "../utils";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;

    // @media (min-width : 900px) {
    //     grid-template-columns: 2fr 1fr;
    //     grid-template-rows: auto;
    // }

    @include utils.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main,
    &__sidebar {
        padding: 40px;
    }

    &__main {
        background-color: rgb(0, 0, 158);
    }

    &__sidebar {
        background-color: rgb(158, 0, 129);
    }
}